
.app {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Trois colonnes: menu gauche, plateau, menu droit */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Pleine hauteur de la vue */
}

.menu-gauche{
  color: red;
}

.menu-gauche,
.menu-droite {
  width: 200px; /* Largeur des menus */
}

.plateau {
  flex-grow: 0; /* Ne pas faire grossir le plateau pour qu'il reste à sa taille naturelle */
  margin: 0 auto;
  margin-left: 200px;
  
  
}
.menu p {
  cursor: pointer; /* Définir le curseur comme une main pour indiquer que les éléments sont cliquables */
}

.menu p:hover {
  background-color: lightgray; /* Changement de couleur de fond au survol */
}

.menu p.active {
  font-weight: bold; /* Mise en évidence de l'élément actif en gras */
}


